* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center; 
}

.post-enter {
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transition: opacity 1000ms linear;
}

.page-wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page {
    padding: 10px;
    border: 2px solid teal;
    cursor: pointer;
}

.page-current {
    border: 3px solid orange;
    font-weight: bold;
}